<div class="card-pop" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= store.photo.url %>')">
  <%= link_to store_path(store) do %>
    <h6><%= store.name %></h6>
  <% end %>
</div>
