<div class="card-pop">
    <%= link_to store_path(store), class: "link-pop" do %>
    <div class="container-pop">
      <%= image_tag store.photo, class: "image-pop" %>
      <h6><%= store.name %></h6>
    </div>
    <% end %>
</div>
