    <%= link_to store_path(store), class: "text-decoration-none" do %>
      <div class="card h-100" style="border-radius: 10px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <%= image_tag(store.photo, :class => "card-img-top card-product-img", :style => "height: 20; width: 20;")%>
          <div class="card-body">
            <%= store.name %>
          </div>
      </div>
    <% end %>
