<div data-controller="search-stores">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://assets-global.website-files.com/6447f7ea620f065ef492b3ac/6447f7ea620f06599792bc47_5ed609baf722b825410adb9c_5ec3714af9aaf9787943a936_sharing-a-meal-opti.jpg');">
    <div class="container">
      <div class="form-group has-search mt-3 w-50 mx-auto">
        <%= form_with url: stores_path, method: :get,
        html: {data: {search_stores_target: "form"}} do %>
        <span class="fa-solid fa-magnifying-glass lupa"></span>
        <%= text_field_tag :query, nil, class: "form-control",
        placeholder:"Look for best stores for you!",
        value: params[:query],
        data: {
          search_stores_target: "input",
          action: "keyup->search-stores#update"
          }%>
        <% end %>
      </div>
    </div>
  </div>

  <%# Lista de stores  y map %>
    <%= render "stores/list", stores: @stores %>
  <%# fin lista stores y map %>
</div>
