<div class="mt-5">
  <div class="container">
    <h3 class="text-warning">Tap to see a Homie's Profile!</h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="justify-content-center">
        <% @users.each do |user| %>
          <%= link_to user, class: "text-decoration-none justify-content-center" do %>
            <div class="card-user">
              <%= cl_image_tag user.photo.key, class: "card-user-img" %>
              <div class="card-user-infos">
                <h2><%= user.first_name %></h2>
                <p><%= user.description %></p>
                <i class="btn btn-blue">Start a conversation!</i>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
