.chatroom-general {
  border: 25px solid #219EBC;
  border-radius: 30px;
  width: 60%;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  h2 {
    background-color: #219EBC;
    color: black;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
  }
  box-shadow: 0 5px 15px rgba(0, 0, 0, .9);
}

.avatars-chatroom {
  background-color: #219EBC;
  align-items: flex-start;
  padding-top: 10px;
  padding-left: 15px;
}

.chatroom-container-top {
  height: 15px;
  background-color: #219EBC;
}

.avt {
  background-color: #219EBC;
}

.promos-container {
  width: 40%;
}

.chatroom-body {
  background-color: #aec7d2;
}

.send-form {
  background-color: #aec7d2;
}
