.footer {
  position: bottom;
  //bottom: 0;
  width: 100%;
  background: #219EBC;
  height: 20%;
  padding: 0px 200px;
  color: rgba(255, 255, 255, 0.3);
  margin-top: -17px;
}
.footer-links i {
  color: rgba(255, 255, 255, 0.3);
}
