.container {
  margin-top: 5%;
  width: 65%;
}

.container h2 {
  margin-top: 15px;
  color: #FB8500;
  font-size: 35px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.container h4 {
  padding-top: 40px;
}

.container-name {
  text-align: center;
}


.container-map {
  text-align: center;
  padding-top: 40px;
  h4 {
    color: rgb(95, 95, 95);
  }
}

.button-user {
  align-items: center;
  align-content: center;
  padding-top: 20px;
}

.container-bottom {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60px;
}
